<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header') %>
    <h1>Welcome <%= user.name %>!</h1>
    <p>Email: <%= user.email %></p>
    <p>Age: <%= user.age %></p>
  </body>
</html>
